@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "./placeholder.scss";
@import "./formkit.scss";

/* @layer base {
  label {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
} */

:root {
  --header-height: 56px;
}

.fullscreen {
  height: 100vh;
  width: 100vw;
}

.flex,
.flex-col,
.flex-center {
  display: flex;
}
.flex.column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.rounded {
  border-radius: 1.25rem;
}

.rounded-top {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.rounded-bottom {
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.rounded-pill {
  border-radius: 5rem;
}

.bg-blur {
  @extend %bg-blur;
}

.absolute-top {
  position: absolute;
  top: 0;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.caption {
    font-size: 0.8em;
    display: block;
}

td .tooltip {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}




.formkit-wrapper {
  width: var(--fk-max-width-input);
  @apply flex flex-col;
}

fieldset.schedule-formkit {
  @apply flex flex-col items-center py-4 m-4 border shadow w-100 rounded;

  legend {
    @apply ml-3;
  }

  .schedule-formkit-row {
    @apply inline-flex items-center justify-around w-100 hover:bg-gray-100 rounded p-2;

    .formkit-outer {
      @apply m-0;

      .formkit-wrapper {
        @apply w-auto;
      }
    }
  }
}
